body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .profile-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .profile-container img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 5px solid #ff5864;
  }
  
  .profile-container h1 {
    margin: 0;
    font-size: 28px;
    color: #ff5864;
  }
  
  .profile-container p {
    font-size: 16px;
    color: #333;
    margin: 10px 0;
  }
  
  .profile-container h2 {
    font-size: 22px;
    color: #ff5864;
    margin-top: 20px;
  }
  
  .profile-container ul {
    list-style: none;
    padding: 0;
  }
  
  .profile-container li {
    background-color: #ffdae0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .navigation-buttons {
    margin-top: 20px;
  }
  
  .navigation-buttons .btn {
    background-color: #ff5864;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 5px;
  }
  
  .navigation-buttons .btn:hover {
    background-color: #ff3044;
  }
  